{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login to your account</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% include 'templates_includes/normal_includes/normal_header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Reset Password</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Creating Tomorrow, Today</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

<!--Login form and logo template-->
<section class="inner-page">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <!-- Forgot Password Form Section -->
              <form>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter your email">
                  </div>
                  <button type="submit" class="btn btn-primary">Reset Password</button>
              </form>
          </div>
      </div>
  </div>
</section>

  <!--login form and logo template ends here-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'templates_includes/normal_includes/normal_footer.html' %}